h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding: 40px;
}

ul li a:hover {
    color: gold;
}

ul li a {
    list-style: none;
    font-size: 25px;
    font-family: arial;
    color: purple;
    padding: 0 20px;
}

li a {
    list-style: none;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    /*padding: 10px;
    margin: 5px;*/
}

ul li {
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    display: inline-block;
    /*float: center;*/
}

nav ul li a {
    text-decoration: none;
}

center {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding: 40px;
}

div {
    float: center;
}

body {
    background-color: black;
    /*font-color: white;*/
}

body {
    background-image: url("logo4.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 40px;
    background-size: 500px 500px;
    background-position: center;
}